<CollectdWinConfig>

  <GeneralSettings Interval="60" Timeout="120" StoreRates="false" Hostname="" />

  <Plugins>
    <Plugin Name="ReadStatsd"              Class="BloombergFLP.CollectdWin.StatsdPlugin"                  Enable="false" />
    <Plugin Name="ReadWindowsPerfCounters" Class="BloombergFLP.CollectdWin.ReadWindowsPerfCountersPlugin" Enable="true" />
    <Plugin Name="ReadWindowsAttributes"   Class="Netuitive.CollectdWin.ReadWindowsAttributesPlugin"      Enable="true" />
    <Plugin Name="ReadWindowsEvents"       Class="Netuitive.CollectdWin.ReadWindowsEventsPlugin"          Enable="true" />
    <Plugin Name="WriteAmqp"               Class="BloombergFLP.CollectdWin.WriteAmqpPlugin"               Enable="false" />
    <Plugin Name="WriteConsole"            Class="BloombergFLP.CollectdWin.WriteConsolePlugin"            Enable="false" />
    <Plugin Name="WriteHTTP"               Class="BloombergFLP.CollectdWin.WriteHTTPPlugin"               Enable="false" />
    <Plugin Name="WriteNetuitive"          Class="Netuitive.CollectdWin.WriteNetuitivePlugin"             Enable="true" />
    <Plugin Name="WriteNetuitiveEvents"    Class="Netuitive.CollectdWin.WriteNetuitiveEventsPlugin"       Enable="true" />
    <Plugin Name="WriteStatsd"             Class="Netuitive.CollectdWin.WriteStatsdPlugin"                Enable="false" />
  </Plugins>

</CollectdWinConfig>
