<ReadWindowsEvents>
  <!-- MaxLevel = CRITICAL, ERROR, WARN, INFO or DEBUG-->
  <Events>
    <Event Log="System" Provider="Service Control Manager" MaxLevel="WARN" />
    <Event Log="System" Provider="Service Control Manager" MaxLevel="INFO" FilterExp="^(?!The WMI)" />
    <Event Log="Application" Provider="" MaxLevel="WARN"/>
  </Events>
</ReadWindowsEvents>