<ReadSystemChecks EnableAgentHeartbeat="true">

  <!-- The Check Type can be either 'Service' or 'Process'. 
       For a Service check the Name is the Service Name found by opening the service in the Service Control Manager (note that this is not the Display Name).
       For a Process check the Name is the process name as it appears in the Task Manager process list.
       Alias is an optional alias for the check in Metricly.
  -->
  <Checks>
    <!-- Example
    <Check Type="Service" Name="MSSQLSERVER" Alias="mycheckname"/>
    -->

  </Checks>

</ReadSystemChecks>