<ReadWindowsEvents>
  <!-- MaxLevel = CRITICAL, ERROR, WARN, INFO or DEBUG-->
  <Events>
    <!-- All critical, error or warn messages in System log from Service Control Manager -->
    <Event Log="System" Source="Service Control Manager" MaxLevel="WARN" FilterExp=".*"/>

    <!-- All critical, error or warn messages in Application log from any source -->
    <Event Log="Application" Source="" MaxLevel="WARN" FilterExp=".*"/>

  </Events>
</ReadWindowsEvents>