<ReadWindowsEvents>
  <!-- A higher Maxlevel represents more detailed logs: CRITICAL(1), ERROR(2), WARN(3), INFO(4) or DEBUG(5) -->
  <Events>
    <!-- All critical, error or warn messages in System log from Service Control Manager -->
    <Event Log="System" Source="Service Control Manager" MaxLevel="ERROR" FilterExp=".*"/>

    <!-- All critical, error or warn messages in Application log from any source -->
    <Event Log="Application" Source="" MaxLevel="ERROR" FilterExp=".*"/>

  </Events>
</ReadWindowsEvents>