<ReadSystemChecks EnableAgentHeartbeat="true" HeartbeatTTLMultiplier="2.0">

  <Checks>

    <!-- Add custom process checks here.  
        Type          - either 'Service' or 'Process'. 
        Name          - the system name for the process to check for. For a "Service check it is the Service Name found by opening the service in the Service Control Manager (note that this is not the Display Name).
                        For a Process check it is the process name as it appears in the performance monitor process list (typically the same as it appears in Task Manager but without the file extension).
        
        Alias         - (optional) an alias to use for the check name in Metricly. If it is not supplied then the process name is used.
        TTLMultiplier - (optional) sets the time-to-live of the check as a multiple of the agent execution interval. For example, if the agent is configured to collect data every 60 seconds (the default) and the check is 
                        configured with a TTLMultiplier of 1.2 (the default) then the next check must be received by Metricly within 72 seconds in order to pass. The minimum allowed value is 1.0 but we recommended that 
                        it is set slightly higher to allow for processing time and network latency etc.
        Example:

        <Check Type="Service" Name="MSSQLSERVER" Alias="sqlservercheck" TTLMultiplier="1.2"/>
    -->
  </Checks>

</ReadSystemChecks>