<ReadSystemChecks EnableAgentHeartbeat="true">

  <Checks>

    <!-- Add custom process checks here.  
        "Type" can be either 'Service' or 'Process'. 
        "Name" is the system name for the process to check for. For a "Service check it is the Service Name found by opening the service in the Service Control Manager (note that this is not the Display Name).
        For a Process check it is the process name as it appears in the performance monitor process list (typically the same as it appears in Task Manager but without the file extension).
        Alias is an optional alias to use for the check name in Metricly. If it is not supplied then the process name is used.
  
        Example:

        <Check Type="Service" Name="MSSQLSERVER" Alias="sqlservercheck"/>
    -->
  </Checks>

</ReadSystemChecks>