<!-- ConnectionString is of the format mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]
For more information see https://docs.mongodb.com/manual/reference/connection-string/ 
-->
<ReadMongoDB ConnectionString="mongodb://localhost:27017"></ReadMongoDB>