<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="CollectdWinConfig" type="BloombergFLP.CollectdWin.CollectdWinConfig, CollectdWinService" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <CollectdWinConfig>

    <GeneralSettings Interval="60" Timeout="120" StoreRates="false" Hostname=""/>

    <PluginRegistry>
      <Plugin Name="ReadStatsd" Class="BloombergFLP.CollectdWin.StatsdPlugin" Enable="false" />
      <Plugin Name="WindowsPerformanceCounter" Class="BloombergFLP.CollectdWin.WindowsPerformanceCounterPlugin" Enable="true" />
      <Plugin Name="WindowsAttributes" Class="Netuitive.CollectdWin.WindowsAttributesPlugin" Enable="true" />
      <Plugin Name="Amqp" Class="BloombergFLP.CollectdWin.AmqpPlugin" Enable="false" />
      <Plugin Name="Console" Class="BloombergFLP.CollectdWin.ConsolePlugin" Enable="false" />
      <Plugin Name="WriteHTTP" Class="BloombergFLP.CollectdWin.WriteHTTPPlugin" Enable="false" />
      <Plugin Name="WriteNetuitive" Class="Netuitive.CollectdWin.WriteNetuitivePlugin" Enable="true" />
      <Plugin Name="WriteStatsd" Class="Netuitive.CollectdWin.WriteStatsdPlugin" Enable="false" />
    </PluginRegistry>

    <ReadStatsd Host="localhost" Port="8125">
      <DeleteCache Counters="true" Timers="true" Gauges="true" Sets="true" />
      <Timer Lower="true" Upper="true" Sum="true" Count="true">
        <Percentiles>
          <Percentile Value="90.0" />
          <Percentile Value="95.0" />
        </Percentiles>
      </Timer>
    </ReadStatsd>

    <Amqp>
      <Publish Name="amqpPublisher" Host="localhost" Port="14504" VirtualHost="vhost" User="user" Password="abc"
               Exchange="exchange" RoutingKeyPrefix="collectd" />
    </Amqp>

    <WriteHTTP Url=""/>

    <WriteNetuitive Url="https://api.app.netuitive.com/ingest/{apikey}" PayloadSize="25"/>

    <WriteStatsd Host="localhost" Port="8125" Prefix="" />
    
    <WindowsEnvironmentVariables>
      <EnvironmentVariable Name="architecture" Value="PROCESSOR_ARCHITECTURE"/>
    </WindowsEnvironmentVariables>

    <WindowsPerformanceCounters>
      <Counters>
        <!-- Processor -->
        <Counter Category="Processor" Name="% Processor Time" Instance=".*" CollectdPlugin="processor"
                 CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_processor_time" />

        <Counter Category="Processor" Name="% Idle Time" Instance=".*" CollectdPlugin="processor"
                 CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_idle_time" />

        <Counter Category="Processor" Name="% Privileged Time" Instance=".*" CollectdPlugin="processor"
                 CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_privileged_time" />

        <Counter Category="Processor" Name="% User Time" Instance=".*" CollectdPlugin="processor"
                 CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_user_time" />

        <Counter Category="Processor" Name="% Interrupt Time" Instance=".*" CollectdPlugin="processor"
                 CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_interrupt_time" />

        <!-- System -->
        <Counter Category="System" Name="Processor Queue Length" Instance="" CollectdPlugin="system"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="processor_queue_length" />

        <Counter Category="System" Name="Context Switches/sec" Instance="" CollectdPlugin="system"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="context_switches_per_sec" />

        <Counter Category="System" Name="Processes" Instance="" CollectdPlugin="system"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="processes" />

        <Counter Category="System" Name="System Calls/sec" Instance="" CollectdPlugin="system"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="system_calls_per_sec" />

        <!-- Memory -->
        <Counter Category="Memory" Name="Available Bytes" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="bytes" CollectdTypeInstance="available_bytes" />

        <Counter Category="Memory" Name="Page Faults/sec" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="page_faults_per_sec" />

        <Counter Category="Memory" Name="Cache Faults/sec" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="cache_faults_per_sec" />


        <Counter Category="Memory" Name="% Committed Bytes In Use" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_committed_in_use" />

        <Counter Category="Memory" Name="Committed Bytes" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="bytes" CollectdTypeInstance="committed_bytes" />

        <Counter Category="Memory" Name="Pages/sec" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="pages_per_sec" />

        <Counter Category="Memory" Name="Pages Input/sec" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="pages_input_per_sec" />

        <Counter Category="Memory" Name="Pages Output/sec" Instance="" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="pages_output_per_sec" />

        <Counter Category="Paging File" Name="% Usage" Instance="_Total" CollectdPlugin="memory"
					CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="page_file_percent_used" />

        <!-- Physical Disk -->
        <Counter Category="PhysicalDisk" Name="Avg. Disk Queue Length" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="avg_queue_length" />

        <Counter Category="PhysicalDisk" Name="Avg. Disk Read Queue Length" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="avg_read_queue_length" />

        <Counter Category="PhysicalDisk" Name="Avg. Disk Write Queue Length" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="avg_write_queue_length" />

        <Counter Category="PhysicalDisk" Name="% Idle Time" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="disk" CollectdTypeInstance="idle_time" />

        <Counter Category="PhysicalDisk" Name="Avg. Disk sec/Read" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="seconds" CollectdTypeInstance="avg_sec_per_read" />

        <Counter Category="PhysicalDisk" Name="Avg. Disk sec/Write" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="seconds" CollectdTypeInstance="avg_sec_per_write" />

        <Counter Category="PhysicalDisk" Name="% Disk Read Time" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_read_time" />

        <Counter Category="PhysicalDisk" Name="% Disk Write Time" Instance=".*" CollectdPlugin="physical_disk"
					CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_write_time" />

        <!-- Logical Disk -->
        <Counter Category="LogicalDisk" Name="% Free Space" Instance=".*" CollectdPlugin="logical_disk"
					CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="percent_free" />
        
        <Counter Category="LogicalDisk" Name="Free Megabytes" Instance=".*" ScaleUpFactor="1048576" CollectdPlugin="logical_disk"
					CollectdPluginInstance="" CollectdType="bytes" CollectdTypeInstance="bytes_free" />

        <Counter Category="LogicalDisk" Name="Avg. Disk Queue Length" Instance=".*" ScaleUpFactor="1048576" CollectdPlugin="logical_disk"
					CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="avg_queue_length" />

        <!-- Network Interface -->
        <Counter Category="Network Interface" Name="Packets Received/Sec" Instance=".*" CollectdPlugin="network_interface"
       		CollectdPluginInstance="" CollectdType="packetspersec" CollectdTypeInstance="packets_received_per_sec" />
        
        <Counter Category="Network Interface" Name="Packets Sent/Sec" Instance=".*" CollectdPlugin="network_interface"
       		CollectdPluginInstance="" CollectdType="packetspersec" CollectdTypeInstance="packets_sent_per_sec" />

        <Counter Category="Network Interface" Name="Output Queue Length" Instance=".*" CollectdPlugin="network_interface"
        	CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="output_queue_length" />

        <Counter Category="Network Interface" Name="Packets Received Errors" Instance=".*" CollectdPlugin="network_interface"
        	CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="packets_received_errors" />

        <Counter Category="Network Interface" Name="Packets Outbound Errors" Instance=".*" CollectdPlugin="network_interface"
        	CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="packets_outbound_errors" />

        <Counter Category="Network Interface" Name="Bytes Total/sec" Instance=".*" CollectdPlugin="network_interface"
        	CollectdPluginInstance="" CollectdType="bytespersec" CollectdTypeInstance="bytes_total_per_sec" />

        <Counter Category="Network Interface" Name="Bytes Sent/sec" Instance=".*" CollectdPlugin="network_interface"
        	CollectdPluginInstance="" CollectdType="bytespersec" CollectdTypeInstance="bytes_sent_per_sec" />

        <Counter Category="Network Interface" Name="Bytes Received/sec" Instance=".*" CollectdPlugin="network_interface"
        	CollectdPluginInstance="" CollectdType="bytespersec" CollectdTypeInstance="bytes_received_per_sec" />

        <Counter Category="Network Interface" Name="Current Bandwidth" Instance=".*" CollectdPlugin="network_interface"
          CollectdPluginInstance="" CollectdType="bitspersec" CollectdTypeInstance="current_bandwidth" />

    
        <!-- SQL Server -->
        <Counter Category="Process" Name="% Processor Time" Instance="sqlservr" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="percent" CollectdTypeInstance="sqlservr_percent_processor_time" />
        
        <Counter Category="SQLServer:General Statistics" Name="User Connections" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="user_onnections" />
        
        <Counter Category="SQLServer:General Statistics" Name="Processes Blocked" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="count" CollectdTypeInstance="processes_blocked" />
        
        <Counter Category="SQLServer:Locks" Name="Lock Waits/sec" Instance="_Total" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="total_lock_waits_per_sec" />
        
        <Counter Category="SQLServer:SQL Statistics" Name="Batch Requests/sec" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="batch_requests_per_sec" />
        
        <Counter Category="SQLServer:SQL Statistics" Name="SQL Compilations/sec" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="sql_compilations_per_sec" />
        
        <Counter Category="SQLServer:SQL Statistics" Name="SQL Re-Compilations/sec" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="sql_recompilations_per_sec" />
        
        <Counter Category="SQLServer:Buffer Manager" Name="Checkpoint pages/sec" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="checkpoint_pages_per_sec" />
        
        <Counter Category="SQLServer:Buffer Manager" Name="Buffer cache hit ratio" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="cache_ratio" CollectdTypeInstance="buffer_cache_hit_ratio" />
        
        <Counter Category="SQLServer:Buffer Manager" Name="Page life expectancy" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="seconds" CollectdTypeInstance="page_life_expectancy" />
        
        <Counter Category="SQLServer:Access Methods" Name="Page splits/sec" Instance="" CollectdPlugin="sql_server"
              CollectdPluginInstance="" CollectdType="countpersec" CollectdTypeInstance="page_splits_per_sec" />

      </Counters>
    </WindowsPerformanceCounters>
  </CollectdWinConfig>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true" throwExceptions="false">

    <variable name="appName" value="CollectdWin" />

    <targets async="true">
      <target xsi:type="File"
              name="default"
              layout="${longdate}|${level:uppercase=true}|${logger}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="${specialfolder:CommonApplicationData }\${appName}\${appName}.log"
              keepFileOpen="true"
              ConcurrentWrites="false"
              archiveAboveSize="1048576"
              archiveFileName="${specialfolder:CommonApplicationData }\${appName}\${appName}_${shortdate}.{##}.log"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="10" />
      <target xsi:type="EventLog"
              name="eventlog"
              source="${appName}"
              layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" minlevel="Info" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>
</configuration>