<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="CollectdWinConfig" type="BloombergFLP.CollectdWin.CollectdWinConfig, CollectdWinService" />
    <section name="ReadWindowsPerfCounters" type="BloombergFLP.CollectdWin.ReadWindowsPerfCountersPluginConfig, CollectdWinService" />
    <section name="ReadWindowsEvents" type="BloombergFLP.CollectdWin.ReadWindowsEventPluginConfig, CollectdWinService" />
    <section name="ReadWindowsAttributes" type="BloombergFLP.CollectdWin.ReadWindowsAttributesPluginConfig, CollectdWinService" />
    <section name="ReadStatsd" type="BloombergFLP.CollectdWin.ReadStatsdPluginConfig, CollectdWinService" />
    <section name="WriteAmqp" type="BloombergFLP.CollectdWin.WriteAmqpPluginConfig, CollectdWinService" />
    <section name="WriteHTTP" type="BloombergFLP.CollectdWin.WriteHTTPPluginConfig, CollectdWinService" />
    <section name="WriteNetuitive" type="BloombergFLP.CollectdWin.WriteNetuitivePluginConfig, CollectdWinService" />
    <section name="WriteStatsd" type="BloombergFLP.CollectdWin.WriteStatsdPluginConfig, CollectdWinService" />
  </configSections>


  <CollectdWinConfig configSource="config\CollectdWin.config" />
  <ReadWindowsPerfCounters configSource="config\ReadWindowsPerfCounters.config" />
  <ReadWindowsAttributes configSource="config\ReadWindowsAttributes.config" />
  <ReadWindowsEvents configSource="config\ReadWindowsEvents.config"/>
  <ReadStatsd configSource="config\ReadStatsd.config" />
  <WriteAmqp configSource="config\WriteAmqp.config" />
  <WriteHTTP configSource="config\WriteHTTP.config" />
  <WriteNetuitive configSource="config\WriteNetuitive.config" />
  <WriteStatsd configSource="config\WriteStatsd.config" />

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <variable name="appName" value="CollectdWin" />
    <targets async="true">
      <target xsi:type="File"
              name="default"
              layout="${longdate}|${level:uppercase=true}|${logger}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="${specialfolder:CommonApplicationData }\${appName}\${appName}.log"
              keepFileOpen="true"
              ConcurrentWrites="false"
              archiveAboveSize="1048576"
              archiveFileName="${specialfolder:CommonApplicationData }\${appName}\${appName}.{##}.log"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="10" />
      <target xsi:type="EventLog"
              name="eventlog"
              source="${appName}"
              layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" minlevel="Info" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  
</configuration>
